body{
  font-size: 40px; background-color: lighgrey;
  text-align: center; position: relative; text-indent: inherit; font-family: sans-serif;
  background-image: url("https://thumbs.dreamstime.com/z/colorful-rainbow-cubes-form-background-clip-art-31565088.jpg");
}
 .ss{
   font-family: verdana; font-size: 60px;
 }
